<html>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

    <body>
        <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />

        <div id="resultsTableDiv">
          <table id="resultsTable" class="display" style="width:100%"></table>
        </div>

    </body>

<script>

var table = $('#resultsTable').DataTable({
 "data": [],
 "columns": [
   {
     "title": "ID",
     "data": "id",
     "className": "dt-center"
   },
   {
     "title": "Message",
     "data": "message",
     "className": "dt-center"
   }
 ]
});
$('#resultsTableDiv').hide();
$(function() {
  $('input[name="daterange"]').daterangepicker({
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(32, 'hour'),
    opens: 'left'
  }, function(start, end, label) {

    $('#resultsTableDiv').hide();
    var startdate = start.format('YYYY-MM-DD')
    var enddate = end.format('YYYY-MM-DD')

    console.log("A new date selection was made: " + startdate + ' to '+enddate);
    endpoint = "http://" + "{{IP}}" + "/result"
      $.ajax({
        url: endpoint,
        type: "POST",
        data: JSON.stringify({"start": startdate,"end":enddate}),
        dataType: "json",
        success: function(res) {
          if (!res) {
            console.error('No response data');
            return;
          }
          $('#resultsTableDiv').show();
          table.clear().draw();
          table.rows.add(res["result"]).draw();
        },
        error: function( req, status, err ) {
           console.log( 'something went wrong', status, err );
        }
      });
  });
});
</script>
</html>